/* Inicio - Recomendaria antes que se aplicara un 0 tanto en margin como en padding a la pagina - */


/* Editado por : Jamal Rabah */


@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(../font/Poppins-Light.ttf);
}


* {
    padding: 0;
    margin: 0;
    font-family: PoppinsMedium, system-ui;
}

/*!SECTION Importante una vez hayamos acabado el header hay que hacer positions fixed para el header pequeño y el grande*/


.header-nav-main {
    position: fixed;
    width: 100%;
    margin-top: 2.5rem;
    top: 0;
    z-index: 99;
}

.header-nav-min {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.nav-min {
    background: #124231;
    width: 100%;
    height: 2.5rem;
}

.nav-min a {
    text-decoration: none;
    color: #B3C2BC;
    padding: 0.625rem;
    font-family: Poppins, system-ui;
}

.nav-min a:hover {
    color: #fff;
}

.list-min {
    display: flex;
    list-style: none;
    height: 2.5rem;
    width: 97%;
    justify-content: right;
    align-items: center;
    font-size: small;
}

.list-min li {
    color: #f2f2f2;
}

/* < !-- Editado por : Jamal Rabah --> */
.nav-main {
    background: #FFFFFF;
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.031rem 0.031rem 0.5rem #8d8f8f;
}

.nav-main a {
    text-decoration: none;
}

.logo {
    margin-left: 4rem;
    margin-top: 1rem;
    width: 15.625rem;
    height: 6.25rem;
    background-image: url(../logo/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.list-max {
    display: flex;
    list-style: none;
}

.list-max a {
    text-decoration: none;
    font-size: 1rem;
    font-family: PoppinsMedium, system-ui;
    color: #686F7B;
    padding: 0 0.900rem;
}

.list-max li {
    text-align: center;
}


/* < !-- Editado por : Jamal Rabah --> */
.contacto {
    width: 10%;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    padding: 0.625rem;
    font-family: PoppinsMedium, system-ui;
    color: #186447;
    font-weight: bold;
}

.contacto:hover {
    background: #186447;
    color: #fff;
}

.Aplica {
    width: 5%;
    margin-right: 8rem;
    background: #186447;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    padding: 0.625rem;
    font-family: PoppinsMedium, system-ui;
    color: #fff;
    font-weight: bold;
}

.Aplica:hover {
    background: #124231;
    color: #fff;
}

/* Editado por Mario y Marcos */

.change-language {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: 4rem;
    margin-top: 0.438rem;
    background: #fff;
    text-align: center;
    box-shadow: 0.063rem 0.063rem 0.188rem #000;
}

.change-language img {
    width: 1.25rem;
}

.change-language a {
    text-decoration: none;
    color: #000;
}

.esp {
    cursor: pointer;
    background-color: #124231;
    color: #fff;
    border: 0.1em solid white;
    border-radius: 0.313rem;
    padding: 0.188rem;
    width: 3.75rem;
    height: 1.25rem;
}

/* EDITADO POR MARIO Y MARCOS*/
.eng {
    margin-top: 0.625rem;
    display: none;
    padding: 0.188rem;
    width: 3.75rem;
    height: 1.25rem;
    background: #fff;
}

.change-language .por,
.ita,
.det {
    display: none;
    padding: 0.188em;
    width: 3.75rem;
    height: 1.25rem;
    background: #fff;
}


.eng:hover {
    background: #000;
    color: #fff;
}

.por:hover {
    background: #000;
    color: #fff;
}

.ita:hover {
    background: #000;
    color: #fff;
}

.det:hover {
    background: #000;
    color: #fff;
}

.destiny:hover {
    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;
}

.dash-destinations {
    background: #fff;
    display: none;
    height: max-content;
    border-bottom: 0.063rem solid #8d8f8f;
}

/* EDITADO POR MARCOS Y MARIO */

.dash-destinations .countries,
.featured {
    margin-top: 3rem;
}

.dash-destinations a {
    text-decoration: none;
    color: gray;
}

.dash-destinations a:hover {
    color: black;
}

.dash-destinations img {
    width: 1.25em;
}

.dash-destinations>.africa-countries,
.asia-countries,
.rest-countries {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.asia-countries {

    display: flex;
    flex-direction: column;
    height: 0;
    padding-left: 5.625rem;
}

.africa-countries {

    display: flex;
    flex-direction: column;
    padding-left: 16.25rem;
    height: 0;
}

.rest-countries {
    display: flex;
    flex-direction: column;
    padding-left: 28.50rem;
}

.featured {
    display: flex;
    padding-left: 7em;
}

.specific-featured {
    width: 45%;
    padding-left: 2rem;
}

.featured img {
    width: 20rem;
    border-radius: 1em;

}

.specific-featured a {
    padding: 1em;
}

.specific-featured h3 {
    margin-left: 1rem;
    color: black;
}

.featured p {
    color: forestgreen;
    margin-top: 0.063rem;
    padding-left: 1rem;
}

/* EDITADO POR MARCOS Y MARIO Y JAMAL */

.foreign:hover {
    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;
}

.dash-intern-abroad {
    background: #fff;
    display: none;
    height: max-content;
    border-bottom: 0.063rem solid #8d8f8f;
}

.block-dash-intern-img img {
    margin: 1rem;
    width: 70%;
    height: 40%;
    border-radius: 1em;
}

.dash-intern-abroad div>a {
    text-decoration: none;
}

.block-dash-intern-img>h4 {
    font-weight: lighter;
    margin-left: 1rem;
}

.countries-dash-intern-aboard {
    color: #124231;
    font-size: larger;
}


.countries-dash-intern-aboard img {
    width: 15%;
    border-radius: 0;
}

.dash-intern-abroad span {
    position: absolute;
    margin-top: 1rem;

}



/* Hecho por Marcos Acedo y Mario Galan */
/*Cambiado algunas partes por : Jamal Rabah*/
/*NOTE - 
 Cambiar los pixeles por em o rem lo que os sea mas comodo */
.volunteer-abroad h1>span {
    color: #1c7652;
}

.dash-projects h1 {
    color: #0b241b;
    margin-left: 0.938em;
    font-weight: lighter;
}

.dash-projects {
    background: #fff;
    display: none;
    flex-wrap: wrap;
    border-bottom: 0.063rem solid #8d8f8f;
}

.project:hover {

    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;

}

.dash-projects a {
    text-decoration: none;
    color: white;
}


.dash-projects p {
    background-color: RGB(20 80 58);
    font-size: 0.750rem;
    text-align: center;
    border-top-right-radius: 0.313em;
    border-bottom-right-radius: 0.313em;
    width: 8em;
    height: 4.85em;
    padding-top: 0%;
}

.dash-projects div {
    margin-right: 0.325em;
    margin-left: 1em;
}

.dash-projects img {
    background-color: #0b241b;
    padding: 0.313em;
    width: 3em;
    height: 3em;
}

.block-dash-proyects {
    display: flex;
    padding-bottom: 0.25;
    width: max-content;
    height: 4.5rem;
}

.volunteer-abroad {
    margin-right: 5rem;
    height: max-content;
    width: 60%;
}

.volunteer-abroad-Divs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.313em;
}

/* Segunda */
.block-intern-dash-proyects {
    display: flex;
    padding-bottom: 1em;
}

.intern-abroad {
    margin-right: 1rem;
    text-align: center;
}

.intern-abroad h1>span {
    color: #1c7652;
}

.intern-abroad div {
    margin-left: 2em;
}

.intern-abroad a {
    text-align: center;
}

/* Todos los px han sido sustituidos por em*/
/* Grupos */
/*Cambiado algunas partes por : Jamal Rabah*/
/* CREADO POR MARCOS ACEDO */
.groups:hover {
    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;
}

.dash-groups {
    background: #fff;
    display: none;
    justify-content: center;
    margin-top: 0;
    border-bottom: 0.063rem solid #8d8f8f;
}

.dash-groups div {
    margin: 1rem;
}

.dash-groups div>a {
    text-decoration: none;
}

.dash-groups img {
    width: 95%;
    height: 12em;
    margin: 0.4em;
    border-radius: 0.5em;
}

.dash-groups a>h4 {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin-left: 0.5em;
    height: 3em;
    color: #1c7652;
}



/* Recursos */
/* Cambiado/añadido algunas cosas Jamal Rabah */
/* Creado por Marcos Acedo y Mario */
.resources:hover {
    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;
}


.dash-resources {
    background: #fff;
    display: none;
    padding: 1em;
    border-bottom: 0.063rem solid #8d8f8f;
}

.dash-resources hr {
    margin-bottom: 0.5rem;
    width: 60%;
}

.general-resources {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10em;
    width: 180%;
    height: max-content;
    padding-left: 1em;
}

.general-resources div {

    margin: 0.5em;
}

.block-resources-general-information-reserva div {
    padding: 1em;
    background-color: #000
}

/* foto*/
.block-resources-general-information-reserva {
    height: 7em;
    width: 10em;
    background-size: 10em;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/509_509_flght_short_image.jpg);

}

.block-resources-general-information-preguntas {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/501_501_faq_short.jpg);
}

.block-resources-general-information-fondos {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/510_510_fundraising_short.jpg);
}

.block-resources-general-information-ofertas {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/724_724_untitled_design_5_short.jpg);
}

.block-resources-general-information-conozca {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/502_meet_a_volunteer_short.jpg);
}

.block-resources-general-information-costes {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/498_cost_page_short.jpg);
}

.block-resources-general-information-fechas {
    height: 6em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/518_conservation_madagascar.jpg);
}

.block-resources-general-information-comprar {
    height: 6em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/631_corporate_volunteering_page_banner.jpg);
}

.block-resources-general-information-diplomado {
    height: 6em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/2572_diploma_in_international_volunteering_4.png);

}

.block-resources-general-information-curso {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/2495_teaching_madagascar_\(1\).jpg);
}

/* letras Editado por Marcos y Mario*/
.block-resources-general-information-reserva p {
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em;
}

.block-resources-general-information-preguntas p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

.block-resources-general-information-fondos p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

.block-resources-general-information-ofertas p {
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em;
}

.block-resources-general-information-conozca p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

.block-resources-general-information-costes p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

.block-resources-general-information-fechas p {
    background-color: #1c7652;
    color: white;
    margin-top: 1.5em;
}

.block-resources-general-information-comprar p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

.block-resources-general-information-diplomado p {
    background-color: #1c7652;
    color: white;
    margin-top: 1em;
    font-size: smaller;
}

.block-resources-general-information-curso p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

/* parte de preguntas frecuentes editado por Marcos y Mario */
.faqs-questions {
    width: 190%;
    text-decoration: none;
}

.questions {
    display: flex;
    flex-direction: column;

}

.questions a {
    margin-top: 1em;
    text-decoration: none;
    color: #1c7652;
}

.faqs {
    display: flex;
    flex-direction: column;
}

.faqs p {
    margin-left: 27em;
    font-size: small;
}

.faqs h2 {
    color: #124231;
    font-weight: lighter;
}

.faqs .all {
    background: #124231;
    width: 10%;
    margin-left: 22rem;
}



/* Algunos cambios por Jamal Rabah */
/* Editado por Mario y Marcos*/
/* Parte de sobre nosotros*/
.about:hover {
    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;
}

.about-us hr {
    width: 90%;
}

.about-us {
    background: #fff;
    display: none;
    padding: 1em;
    border-bottom: 0.063rem solid #8d8f8f;
}

.general-information {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10em;
    width: 180%;
    height: max-content;
    padding: 1em;

}

.general-information div {
    margin: 0.5em;
}


/* FOTOS */
.block-about-us-general-information-conocer {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/517_meet_the_team_short.jpg);
}

.block-about-us-general-information-mensaje {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/551_message_to_parents_short.jpg);
}

.block-about-us-general-information-noticias {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/1094_news_articles_short.jpg);
}

.block-about-us-general-information-politicas {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/510_510_fundraising_short.jpg);
}

.block-about-us-general-information-volsol {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/516_whatvolsolshort.jpg);
}

.block-about-us-general-information-elegirnos {
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/616_wildlife_and_animal_care.jpg);
}

.block-about-us-general-information-pagar {
    height: 8em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/2603_slmedinternshipshort.jpg);
}

.block-about-us-general-information-arbol {
    height: 7.777em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/chica-con-niños.jpeg);
}

/* letras*/
.block-about-us-general-information-conocer p {
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em;
}

.block-about-us-general-information-mensaje p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

.block-about-us-general-information-noticias p {
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em;
}

.block-about-us-general-information-politicas p {
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em;
}

.block-about-us-general-information-volsol p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}

.block-about-us-general-information-elegirnos p {
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em;
}

.block-about-us-general-information-pagar p {
    background-color: #1c7652;
    color: white;
    margin-top: 4em;
    font-size: smaller;
}

.block-about-us-general-information-arbol p {
    background-color: #1c7652;
    color: white;
    margin-top: 5.3em;
}

.latest-news {
    margin-left: 1em;
    width: 190%;
    text-decoration: none;
}

.latest-posts {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.latest-posts a {
    margin-top: 1em;
    text-decoration: none;
    color: #1c7652;
}

.last-news-articles {
    display: flex;
    flex-direction: column;
}

.last-news-articles p {
    margin-left: 27em;
    font-size: small;
}

.last-news-articles h2 {
    color: #124231;
    font-weight: lighter;
}

.last-news-articles .all {
    background: #124231;
    width: 10%;
    margin-left: 22rem;
}

.gray {
    background: #F9FAFB;
}

/* Editado por Marcos y Mario*/
/* Parte de abajo del navegador*/
/* Hecho, cambiado algunas partes por Jamal */
.primer-section {
    display: flex;
    margin-left: 5em;
    margin-top: 12em;
    width: 35%;
}


.primer-section .parents {
    margin-left: 58%;
    width: 140%;
    height: 30em;
}


.texto-inicio h1 {
    font-family: PoppinsBold, system-ui;
    color: #124231;
    font-size: 3.5em;
    width: 150%;
    line-height: 1;
}

.texto-inicio span {
    color: #2D9C6D;
}

.texto-inicio p {
    margin-top: 2em;
}

.botones {
    margin-top: 2rem;
    width: 100%;
}

.btn-proyectos:hover {
    background: #a1cdbc;
}

.btn-destinos:hover {
    background: #a1cdbc;
}

.btn-proyectos {
    padding: 2%;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    font-family: PoppinsMedium, system-ui;
    color: #186447;
    font-weight: bold;
}

.btn-destinos {
    padding: 2%;
    margin-top: 1em;
    margin-right: rem;
    background: #186447;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    font-family: PoppinsMedium, system-ui;
    color: #fff;
    font-weight: bold;
}

.trustpilot img {
    margin-top: 1em;
    width: 40%;
}

.segundo-section {
    text-align: center;
    margin: auto;
    width: 90%;
    font-size: larger;

}

.segundo-section h2 {
    margin-top: 7rem;
    color: #4A6F62;
    font-family: PoppinsBold, system-ui;
}

.segundo-section .texto-segundo-section a {
    color: #247B58;
    font-family: PoppinsBold, system-ui;
    font-size: small;
}

/* Editado por Jamal Rabah */
/* Arreglar las banderas y sus nombres */
.tercer-section div {
    display: flex;
}

.tercer-section {
    margin: 2rem;
}

.destinos-destacados a {
    padding-right: 2.5rem;
    text-decoration: none;
}

.titulo-tercer-section {
    font-size: larger;
    font-family: PoppinsBold, system-ui;
    color: #144231;
}

.titulo-tercer-section a {
    font-size: small;
    text-decoration: none;
    margin-left: auto;
    margin-top: 0.5rem;
}

.tarjetas-tercer-section p {
    color: #1c7652;
    font-size: smaller;
}

.bandera-pais p {
    height: 5em;
    color: #15503A;
    font-size: xx-large;
    font-family: PoppinsBold, system-ui;
}

.tercer-section img {
    width: 100%;
    height: 15em;
    border-radius: 1rem;
    margin-top: 0.6rem;
}


.tarjetas-tercer-section .bandera-pais img {
    width: 2rem;
    height: fit-content;
    border-radius: 0;
    margin-right: 1rem;
}

/* Editado por Jamal Rabah */

.cuarto-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cuarto-section img {
    width: 45rem;
    height: 30rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

.cuarto-section h4 {
    padding-left: 1.2rem;
    margin-top: 1rem;
    width: 90%;
    font-size: x-large;
    font-family: PoppinsLight, system-ui;
}

.cuarto-section p {
    padding-left: 1.2rem;
    font-size: 1rem;
    width: 90%;
    color: #717E8F;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cuarto-section .bricks {
    margin-bottom: 2.6rem;
}

.tarjeta-cuarto-section a {
    padding-left: 1.2rem;
    color: #1C7673;
    text-decoration-color: #BDE3D4;
}


/* Editado por Jamal Rabah */
.quinto-section {
    margin: 2rem;
}

.titulo-quinto-section h1 {
    font-size: xx-large;
    color: #16513B;
    font-family: PoppinsBold, system-ui;
}

.quinto-section img {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
}

.quinto-section a {
    padding-right: 2.5rem;
    text-decoration: none;
    color: #16513B;
}

.subSection {
    display: flex;
}

/* Arreglarlo y ponerlo a ala izquierda */
.titulo-quinto-section a {
    font-size: small;
    text-decoration: none;
    margin-left: auto;
    margin-top: 0.5rem;
}



/* Editado por Jamal Rabah */
.sexto-section {
    margin-top: 6rem;
}

.tarjetas-sexto-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: 10%;
    margin-bottom: 4rem;
}

.tarjetas-sexto-section img {
    position: absolute;
    background: #2D9C6D;
    width: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.tarjeta-sexto {
    width: 30%;
    padding: 1rem;
}

.texto-sexto h3 {
    margin-top: 0.5rem;
    margin-left: 3.5rem;
}

.texto-sexto p {
    width: 80%;
    margin-left: 3.5rem;
}

.titulo-sexto {
    text-align: center;
}

.titulo-sexto h1 {
    font-size: xx-large;
    color: #16513B;
    font-family: PoppinsBold, system-ui;
}

.titulo-sexto p {
    width: 50%;
    margin: auto;
    font-size: large;
    font-weight: lighter;
    color: #7F8088;
}

/* Editado por Jamal Rabah */
.septimo-section {
    margin-left: 3.5rem;
    background: #FFFFFF;
    height: 25rem;
    display: flex;
    align-items: center;
}

.septimo-section h2 {
    font-size: xx-large;
}

.imagenes-septimo img {
    width: 20%;
    padding-left: 2rem;
}

.septimo-section span {
    color: #437652;
}

/* Editado por Jamal Rabah */
.octavo-section {
    margin-top: 5rem;
}

.titulo-octavo {
    text-align: center;
}

.titulo-octavo h2 {
    font-size: xx-large;
    color: #16513B;
    font-family: PoppinsBold, system-ui;
}

.titulo-octavo p {
    width: 50%;
    margin: auto;
    font-size: large;
    font-weight: lighter;
    color: #7F8088;
}

.tarjetas-octavo-section {
    display: flex;
    align-items: center;
}

.tarjeta-octavo {
    margin-top: 4rem;
    padding-left: 1.5rem;
    margin-bottom: 7rem;
}

.tarjeta-octavo img {
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
}

.tarjeta-octavo h2 {
    width: 100%;
    font-size: x-large;
    font-family: PoppinsBold, system-ui;
    font-weight: 900;
}

.two-images {
    margin-top: 1.5rem;
}

.three-image {
    margin-top: 4.6rem;
}

.tarjeta-octavo p {
    color: #7D838F;
}

/* Editado por Jamal Rabah */
.titulo-noveno {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background: #EFFAF4;
}

.titulo-noveno p {
    color: #237B58;
    font-family: PoppinsBold, system-ui;
    font-weight: 900;
}

.tarjetas-noveno-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background: #E3F7EC;
}

.tarjetas-noveno-section-sub {
    height: fit-content;
    width: 90%;
}


.tarjetas-noveno-section img {
    width: 10%;
    padding-left: 10rem;
}

/* Editado por Jamal Rabah */
.decimo-section {
    background: #15503A;
    height: 25rem;
}

.titulo-decimo h2 {
    padding-top: 2rem;
    text-align: center;
    color: #fff;
    font-family: PoppinsBold, system-ui;
    font-size: xx-large;
}

.titulo-decimo p {
    text-align: center;
    color: #B3E5CA;
    margin-top: 0.5rem;
}

.contact-info-decimo {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.contact-info-decimo i {
    font-size: larger;
    background: #40C351;
    border-radius: 1rem;
    color: #fff;
    margin-bottom: 3rem;
}

.contact-info-decimo img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.contact-info {
    margin: auto;
    background: #FFFFFF;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #318362;
    cursor: pointer;
}


/* Editado por Marcos y Mario */

.undecimo-section img {
    width: 30%;
}
.tarjetas-undecimo-section{
    display: flex;
    padding-left: 10em;
    background-color: #124231;
}
.tarjeta-undecimo h3{
    color: #1c7652;
}
.tarjeta-undecimo{
    margin-left: 2em;
}
.tarjeta-undecimo img{
    width: 2em;
    height: 2em;
}
.tarjeta-undecimo li{
    color: white;
    padding: 0.5em;
    list-style: none;
}
.social-media-logos{
    text-align: center;
    width: fit-content;
    border: 0.1rem solid  #1c7652;
    border-radius: 0.5em;
}
.social-media-logos img {
    width: 10em;
    height: 8em;
}
.sign-up{
    color:white;
    background-color: #1c7652;
    width: 12em;
    height: 4em;
    border: 0.1rem solid  #1c7652;
}

.undecimo-section p{
    color: #1c7652;
    background-color: #124231;
    text-align: center;
    height: 5em;
}
/* Iconos */
/* Son solo pruebas esta parte de css se borrara -Meteremos clases a cada icon- */
.icons i {
    font-size: 1.5em;
    
}

.icons i:nth-of-type(3) {
    color: #24A3F1;
}

.icons i:nth-of-type(4) {
    color: #FF0808;
}

.icons i:nth-of-type(5) {
    color: #21B9EB;
}

.icons i:nth-of-type(6) {
    color: #106BFF;
}
/*cookies*/
.aviso-cookies{
    display: block;
    background-color: #FFFFFF;
    padding: 20px;
    width: calc(100%-40px);
    max-width: 300px;
}




/* Pingünos */

.alert {
    font-size: 100%;
    text-align: center;
    display: none;
}

.alert img {
    width: 70%;
}

@media (min-width:0em) and (max-width: 60.75em) {
    .alert {
        display: block;
    }

    header {
        display: none;
    }

    main {
        display: none;
    }
}








