/* Inicio - Recomendaria antes que se aplicara un 0 tanto en margin como en padding a la pagina - */


/* Editado por : Jamal Rabah */
* {
    padding: 0;
    margin: 0;
    font-family: Poppins-Medium;

}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../font/Poppins-Medium.ttf);
}


.nav-min {
    background: #124231;
    width: 100%;
    height: 2.5rem;
}

.nav-min a {
    text-decoration: none;
    color: #B3C2BC;
    padding: 0.625rem;
    font-family: Poppins;
}

.nav-min a:hover {
    color: #fff;
}

.list-min {
    display: flex;
    list-style: none;
    height: 2.5rem;
    width: 97%;
    justify-content: right;
    align-items: center;
    font-size: small;
}

.list-min li {
    color: #f2f2f2;
}

/* < !-- Editado por : Jamal Rabah --> */
.nav-main {
    background: #FFFFFF;
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.031rem 0.031rem 0.5rem #8d8f8f;
}

.nav-main a {
    text-decoration: none;
}

.logo {
    margin-left: 4rem;
    margin-top: 1rem;
    width: 15.625rem;
    height: 6.25rem;
    background-image: url(../logo/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.list-max {
    display: flex;
    list-style: none;
}

.list-max a {
    text-decoration: none;
    font-size: 1rem;
    font-family: Poppins-Medium;
    color: #686F7B;
    padding: 0 0.900rem;
}

.list-max li {
    text-align: center;
}


/* < !-- Editado por : Jamal Rabah --> */
.contacto {
    width: 10%;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    padding: 0.625rem;
    font-family: Poppins-Medium;
    color: #186447;
    font-weight: bold;
}

.contacto:hover {
    background: #186447;
    color: #fff;
}

.Aplica {
    width: 5%;
    margin-right: 8rem;
    background: #186447;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    padding: 0.625rem;
    font-family: Poppins-Medium;
    color: #fff;
    font-weight: bold;
}

.Aplica:hover {
    background: #124231;
    color: #fff;
}
/* Editado por Andres y Marcos */

.change-language{
display: flex;
flex-direction: column;
width: 1.75rem;
position: absolute;
margin-left: 4rem;

}

.esp{
    background-color: #124231;
    color: #fff;
    border: 0.1em solid white;
}

.eng{
 display: none;   
 
}
.por{
    display: none;
}
.ita{
    display: none;   
   }
.det{
    display: none;
   }
 /* Mario y Marcos*/
.esp:hover ~button{
    display: block;
    
}
.dash-destinations{

    justify-self:right;
    height: 22em;
    background-color: red;
    position: absolute;
    
}
.dash-destinations div{
    display: none;
}
.dash-destinations:hover ~div{

    display: block;
}
.dash-destinations a{
    text-decoration: none;
    color: gray
    
}
.dash-destinations a:hover{
    color: black;
}
.dash-destinations img{
    width: 20px;
}
.asia-countries{

    width:  20%;
    height: 0em;
    padding-left: 5.625rem;
}
.africa-countries{
   
    width: 20%;
    border-left: 20px;
    padding-left: 16.25rem;
    height: 0px;
}
.rest-countries{
   
   
    width: 20%;
    padding-left: 28.50rem;

    height: 50px;
    align-items: center;
}
.featured{
    padding-left: 50em;
    display: flex;
    
    
}
.featured img{
    width: 17rem;
    border-radius: 1em;
   
}
.specific-featured a{
    padding: 1em;
}
.featured h3{
    margin-bottom: 0em;
    padding-left: 1rem;
    color: black;
}
.featured p{
    
    color: forestgreen;
    margin-top: 1px;
    padding-left: 1rem;

}
/* mario y marcos*/
.dash-intern-abroad {
    display: flex;
    width: fit-content;
    padding: 0px;
    background-color: red;
    
}
.block-dash-intern-abroad{
    width: 1rem;
}

.block-dash-intern-img img {
    margin: 10px;
    border-radius: 1em;
    width:70%;
    height: 70%;
} 

.dash-intern-abroad h4, .block-dash-intern-img {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.countries-dash-intern-aboard {
    color:#124231;
    font-size: larger;
}


.countries-dash-intern-aboard img {
    width:30%;

}

/* 
.dash-intern-abroad img{
    border-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1em;
    width: 50%;
    height: 60px;
    background: #000;
    
} */
