/* Inicio - Recomendaria antes que se aplicara un 0 tanto en margin como en padding a la pagina - */


/* Editado por : Jamal Rabah */
* {
    padding: 0;
    margin: 0;
    font-family: Poppins-Medium;

}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../font/Poppins-Medium.ttf);
}

/*!SECTION Importante una vez hayamos acabado el header hay que hacer positions fixed para el header pequeño y el grande*/

.nav-min {
    background: #124231;
    width: 100%;
    height: 2.5rem;
}

.nav-min a {
    text-decoration: none;
    color: #B3C2BC;
    padding: 0.625rem;
    font-family: Poppins;
}

.nav-min a:hover {
    color: #fff;
}

.list-min {
    display: flex;
    list-style: none;
    height: 2.5rem;
    width: 97%;
    justify-content: right;
    align-items: center;
    font-size: small;
}

.list-min li {
    color: #f2f2f2;
}

/* < !-- Editado por : Jamal Rabah --> */
.nav-main {
    background: #FFFFFF;
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.031rem 0.031rem 0.5rem #8d8f8f;
}

.nav-main a {
    text-decoration: none;
}

.logo {
    margin-left: 4rem;
    margin-top: 1rem;
    width: 15.625rem;
    height: 6.25rem;
    background-image: url(../logo/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.list-max {
    display: flex;
    list-style: none;
}

.list-max a {
    text-decoration: none;
    font-size: 1rem;
    font-family: Poppins-Medium;
    color: #686F7B;
    padding: 0 0.900rem;
}

.list-max li {
    text-align: center;
}


/* < !-- Editado por : Jamal Rabah --> */
.contacto {
    width: 10%;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    padding: 0.625rem;
    font-family: Poppins-Medium;
    color: #186447;
    font-weight: bold;
}

.contacto:hover {
    background: #186447;
    color: #fff;
}

.Aplica {
    width: 5%;
    margin-right: 8rem;
    background: #186447;
    border: 0.125rem solid #124231;
    border-radius: 0.313rem;
    text-align: center;
    font-size: 1.050rem;
    padding: 0.625rem;
    font-family: Poppins-Medium;
    color: #fff;
    font-weight: bold;
}

.Aplica:hover {
    background: #124231;
    color: #fff;
}

/* Editado por Andres y Marcos */

.change-language {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: 4rem;
    margin-top: 0.438rem;
    background: #fff;
    text-align: center;
    box-shadow: 0.063rem 0.063rem 0.188rem #000;
}

.change-language img {
    width: 1.25rem;
}

.change-language a {
    text-decoration: none;
    color: #000;
}

.esp {
    cursor: pointer;
    background-color: #124231;
    color: #fff;
    border: 0.1em solid white;
    border-radius: 0.313rem;
    padding: 0.188rem;
    width: 3.75rem;
    height: 1.25rem;
}

/* EDITADO POR MARIO Y MARCOS*/
.eng {
    margin-top: 0.625rem;
    display: none;
    padding: 0.188rem;
    width: 3.75rem;
    height: 1.25rem;
    background: #fff;
}

.change-language .por,
.ita,
.det {
    display: none;
    padding:0.188em;
    width: 3.75rem;
    height: 1.25rem;
    background: #fff;
}


.eng:hover {
    background: #000;
    color: #fff;
}

.por:hover {
    background: #000;
    color: #fff;
}

.ita:hover {
    background: #000;
    color: #fff;
}

.det:hover {
    background: #000;
    color: #fff;
}

.destiny:hover {
    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;
}

.dash-destinations {
    display: none;
    height: max-content;
    border-bottom: 0.063rem solid #8d8f8f;
}
/* EDITADO POR MARCOS Y MARIO */

.dash-destinations .countries,
.featured {
    margin-top: 3rem;
}

.dash-destinations a {
    text-decoration: none;
    color: gray;
}

.dash-destinations a:hover {
    color: black;
}

.dash-destinations img {
    width: 1.25em;
}

.dash-destinations>.africa-countries,
.asia-countries,
.rest-countries {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.asia-countries {

    display: flex;
    flex-direction: column;
    height: 0;
    padding-left: 5.625rem;
}

.africa-countries {

    display: flex;
    flex-direction: column;
    padding-left: 16.25rem;
    height: 0;
}

.rest-countries {
    display: flex;
    flex-direction: column;
    padding-left: 28.50rem;
}

.featured {
    display: flex;
    padding-left: 7em;
}

.specific-featured {
    width: 45%;
    padding-left: 2rem;
}

.featured img {
    width: 20rem;
    border-radius: 1em;

}

.specific-featured a {
    padding: 1em;
}

.specific-featured h3 {
    margin-left: 1rem;
    color: black;
}

.featured p {
    color: forestgreen;
    margin-top: 0.063rem;
    padding-left: 1rem;
}

/* EDITADO POR MAARCOS Y MARIO Y JAMAL */

.foreign:hover {
    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;
}

.dash-intern-abroad {
    display: none;
    height: max-content;
    border-bottom: 0.063rem solid #8d8f8f;
}

.block-dash-intern-img img {
    margin: 1rem;
    width: 70%;
    height: 40%;
    border-radius: 1em;
}

.dash-intern-abroad div>a {
    text-decoration: none;
}

.block-dash-intern-img>h4 {
    font-weight: lighter;
    margin-left: 1rem;
}

.countries-dash-intern-aboard {
    color: #124231;
    font-size: larger;
}


.countries-dash-intern-aboard img {
    width: 15%;
    border-radius: 0;
}

.dash-intern-abroad span {
    position: absolute;
    margin-top: 1rem;

}



/*Cambiado algunas partes por : Jamal Rabah*/

.volunteer-abroad h1>span
{
    color: #1c7652;
}

.dash-projects h1 {
    color: #0b241b;
    margin-left: 0.938em;
    font-weight: lighter;
}

.dash-projects {
    display: none;
    flex-wrap: wrap;
    border-bottom: 0.063rem solid #8d8f8f;
}

.project:hover {

    border-left: 0.063rem solid #000;
    border-right: 0.063rem solid #000;

}

.dash-projects a {
    text-decoration: none;
    color: white;
}
 

.dash-projects p {
    background-color:  RGB(20 80 58) ;
    
    font-size: 0.750rem;
    text-align: center;
    border-top-right-radius: 0.313em;
    border-bottom-right-radius:0.313em;
    width:8em;
    height: 4.8em;
    padding-top: 0%;
}

.dash-projects div {
    margin-right: 0.325em;
    margin-left: 1em;
}

.dash-projects img {
    background-color: #0b241b;
    padding: 0.313em;
    width: 3em;
    height: 3em;
}

.block-dash-proyects {
    display: flex;
    padding-bottom: 0.25;
    width: max-content;
    height: 4.5rem;
}

.volunteer-abroad {
    margin-right: 5rem;
    height: max-content;
    width: 60%;
}

.volunteer-abroad-Divs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.313em;
}
/* CREADO POR MARCOS ACEDO */
/* Segunda */
.block-intern-dash-proyects {
    display: flex;
    padding-bottom: 1em;
    
}

.intern-abroad {
    margin-right: 1rem;
    text-align: center;

}
.intern-abroad h1 > span{
    color: #1c7652;
}

.intern-abroad div{
    margin-left: 2em;
    
}

.intern-abroad a {
    text-align: center;
}

/* Todos los px han sido sustituidos por em*/
/* Grupos */
/* CREADO POR MARCOS ACEDO */
.dash-groups{
    display: flex;
    margin-left: 7em;
    margin-top: 1em;
    padding: 1em;
   
}
.dash-groups div > a{
    text-decoration: none;
}
.dash-groups img{
    width: 13em;
    height: 10em;
    margin: 0.5em;
    border-radius: 0.5em;
    
}
.dash-groups a > h4{
   
    width: 13em;
    height: 3em;
    text-align: center;
    margin-left: 0.5em;
    color:  #1c7652;
}
/* Recursos */
.dash-resources{
    display: flex; 
    padding: 1em; 
}
.general-resources{
    display: flex;
    flex-wrap: wrap;
    margin-left:  10em;
    width: 180%;
    height: max-content;
    padding-left: 1em;
}
.general-resources div{
    
    margin: 0.5em;
}
.block-resources-general-information-reserva div {
    padding:  1em;
    background-color: #000
}
/* foto*/
.block-resources-general-information-reserva{
    height: 7em;
    width: 10em;
    background-size: 10em;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/509_509_flght_short_image.jpg);
    
}
.block-resources-general-information-preguntas{
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/501_501_faq_short.jpg);
}
.block-resources-general-information-fondos{
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/510_510_fundraising_short.jpg);
}
.block-resources-general-information-ofertas{
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/724_724_untitled_design_5_short.jpg);
}

.block-resources-general-information-conozca{
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/502_meet_a_volunteer_short.jpg);
}
.block-resources-general-information-costes{
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/498_cost_page_short.jpg);
}
.block-resources-general-information-fechas{
    height: 6em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/518_conservation_madagascar.jpg);
}
.block-resources-general-information-comprar{
    height:6em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/631_corporate_volunteering_page_banner.jpg);
}
.block-resources-general-information-diplomado{
    height: 6em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/2572_diploma_in_international_volunteering_4.png);
   
}
.block-resources-general-information-curso{
    height: 7em;
    width: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagenes/JPG/2495_teaching_madagascar_\(1\).jpg);  
}
/* letras*/
.block-resources-general-information-reserva p{
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em;  
}
.block-resources-general-information-preguntas p{
    background-color: #1c7652;
    color: white;
    margin-top: 3em;  
}
.block-resources-general-information-fondos p{
    background-color: #1c7652;
    color: white;
    margin-top: 3em; 
}
.block-resources-general-information-ofertas p{
    background-color: #1c7652;
    color: white;
    margin-top: 4.5em; 
}
.block-resources-general-information-conozca p{
    background-color: #1c7652;
    color: white;
    margin-top: 3em; 
}
.block-resources-general-information-costes p {
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}
.block-resources-general-information-fechas p {
    background-color: #1c7652;
    color: white;
    margin-top: 1.5em;
}
.block-resources-general-information-comprar p{
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}
.block-resources-general-information-diplomado p{
    background-color: #1c7652;
    color: white;
    margin-top: 1em;
    font-size: smaller;
}
.block-resources-general-information-curso p{
    background-color: #1c7652;
    color: white;
    margin-top: 3em;
}





/* Pingünos */

.alert {
    font-size: 100%;
    text-align: center;
    display: none;
}

.alert img {
    width: 70%;
}



@media (min-width:0em) and (max-width: 60.75em) {
    .alert {
        display: block;
    }

    header {
        display: none;
    }
}