/* Inicio - Recomendaria antes que se aplicara un 0 tanto en margin como en padding a la pagina - */


/* Editado por : Jamal Rabah */
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../font/Poppins-Medium.ttf);
}


.nav-min {
    background: #124231;
    width: 100%;
    height: 2.5rem;
}

.nav-min a {
    text-decoration: none;
    color: #B3C2BC;
    padding: 0.625rem;
    font-family: Poppins;
}

.nav-min a:hover {
    color: #fff;
}

.list-min {
    display: flex;
    list-style: none;
    height: 2.5rem;
    width: 97%;
    justify-content: right;
    align-items: center;
    font-size: small;
}

.list-min li {
    color: #f2f2f2;
}

/* < !-- Editado por : Jamal Rabah --> */
.nav-main {
    background: #FFFFFF;
    width: 100%;
    height: 6.25rem;
    margin-left: auto;
    box-shadow: 0.031rem 0.031rem 0.5rem #8d8f8f;
}

.logo {
    position: absolute;
    margin: 0.938rem 2.25rem;
    width: 15.625rem;
    height: 6.25rem;
    background-image: url(../logo/SVG/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.list-max {
    display: flex;
    list-style: none;
    height: 6.25rem;
    align-items: center;
    justify-content: center;
}

.list-max a {
    text-decoration: none;
    font-size: 1rem;
    font-family: Poppins-Medium;
    color: #686F7B;
}


.list-max li {
    text-align: center;
    padding: 1.875rem;
    width: 7%;
}